# =========================
# Unity generated folders
# =========================
Library/
Temp/
Obj/
Logs/
UserSettings/

# =========================
# Build folders
# =========================
Build/
Builds/

# =========================
# Memory captures
# =========================
MemoryCaptures/

# =========================
# IDE folders
# =========================
.vscode/
.idea/

# =========================
# Visual Studio files
# =========================
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db

# =========================
# Crash reports
# =========================
sysinfo.txt

# =========================
# Unity packages
# =========================
*.unitypackage

# =========================
# Unity backup folders
# =========================
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

# =========================
# Android temp
# =========================
.utmp/

# =========================
# Plastic SCM (ignore completely)
# =========================
.plastic/

# =========================
# AI / tooling
# =========================
.continue/

# =========================
# Android build folder
# Ignore everything BUT APK
# =========================
android build/*
!android build/
!android build/*.apk
# Large sound packs (remove)
Assets/1.1 - FREE CASUAL PACK SFX/
Assets/Casual Game Sounds U6/