# Unity generated folders
Library/
Temp/
Obj/
Logs/
UserSettings/

# Build folders
Build/
Builds/

# Memory captures
MemoryCaptures/

# IDE folders
.vscode/
.idea/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS generated
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity packages
*.apk
*.aab
*.unitypackage


# Unity backup folders
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

# Android temp
.utmp/

# IDE
.vscode/
